<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- SOCIAL SHARE BAR -->
    <meta property="og:description" name="description" content="Floating Social Share Buttons">
    <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/d/d6/Hs-2009-25-e-full_jpg.jpg">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/public/images/mdb-favicon.ico">
    <title>Article</title>

    <link rel="stylesheet" type="text/css" href="css/jquery.floating-social-share.min.css" />




       <!-- JQUERRY FOREACH-->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
       <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
       <script type="text/javascript"  src="js/jquery.js"></script>
       <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
       <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

        <!--LIEN DE BASE MDB-->
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
        <!--LIEN DE BASE MDB-->



       <!-- SOCIAL SHARE BAR -->
       <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   
       <!-- Custom styles for this template POST -->
       <link type="text/html" href="css/blog-home.css" rel="stylesheet">
       <link href="css/post.css" rel="stylesheet">

     
      <script>jQuery(document).ready(function() {
        // Ici, le DOM est entièrement défini
      });
      </script>









    <style>

        html,
        body,
        header,
        .view {
          height: 100%;
          
        }
      
        @media (max-width: 740px) {
          html,
          body,
          header,
          .view {
            height: 1000px;
          }
        }
        @media (min-width: 800px) and (max-width: 850px) {
          html,
          body,
          header,
          .view {
            height: 650px;
          }
        }
      
        .top-nav-collapse {
          background-color: #424f95 !important;
        }
      
        .navbar:not(.top-nav-collapse) {
          background: #424f95 !important;
        }
      
        @media (max-width: 991px) {
        .navbar:not(.top-nav-collapse) {
          background: #424f95 !important;
        }
        }
        
        .rgba-gradient {
          background: linear-gradient(45deg, rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%);
        }
      
        .card {
          background-color: rgb(255, 255, 255);
        }
      
        .md-form label {
          color: #ffffff;
        }
      
        h6 {
          line-height: 1.7;
        }





        /*social btn link*/
        .fa {
              padding: 20px;
              font-size: 30px;
              width: 100%;
              min-width: auto;
              text-align: center;
              text-decoration: none;
              margin: 5px 2px;
            }

            .fa:hover {
                opacity: 0.7;
            }

            .fa-facebook {
              background: #3B5998;
              color: white;
            }

            .fa-twitter {
              background: #55ACEE;
              color: white;
            }

            .fa-google {
              background: #dd4b39;
              color: white;
            }

            .fa-linkedin {
              background: #007bb5;
              color: white;
            }

            .fa-youtube {
              background: #bb0000;
              color: white;
            }

            .fa-instagram {
              background: #125688;
              color: white;
            }

            .fa-pinterest {
              background: #cb2027;
              color: white;
            }

            .fa-snapchat-ghost {
              background: #fffc00;
              color: white;
              text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            }

            .fa-skype {
              background: #00aff0;
              color: white;
            }

            .fa-android {
              background: #a4c639;
              color: white;
            }

            .fa-dribbble {
              background: #ea4c89;
              color: white;
            }

            .fa-vimeo {
              background: #45bbff;
              color: white;
            }

            .fa-tumblr {
              background: #2c4762;
              color: white;
            }

            .fa-vine {
              background: #00b489;
              color: white;
            }

            .fa-foursquare {
              background: #45bbff;
              color: white;
            }

            .fa-stumbleupon {
              background: #eb4924;
              color: white;
            }

            .fa-flickr {
              background: #f40083;
              color: white;
            }

            .fa-yahoo {
              background: #430297;
              color: white;
            }

            .fa-soundcloud {
              background: #ff5500;
              color: white;
            }

            .fa-reddit {
              background: #ff5700;
              color: white;
            }

            .fa-rss {
              background: #ff6600;
              color: white;
            }
      
      </style>
  
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark  fixed-top scrolling-navbar ">
      <div class="container">
        <a class="navbar-brand" href="/">
          <strong>Média libre.com</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/journal12">Journal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile/build_post">Build post</a>
            </li>
            
          </ul>
          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
        
      </div>
      

    </nav>
    <!-- Navbar -->


  </br>






  <!--Main layout-->
<main>
    

    <!-- Page Content -->
    <div class="" style="padding: 50px;">

      <div class="row" >
        <!-- Blog Entries Column -->
        <div class="col-lg-8 col-md-8 " style="min-width: ;">
        
          <div class=" ">
            <!--Section: Content-->
            <section class=" " style="background-color: #424f95;">
      
                <!--Grid column-->
                <div class="col-lg-12 ">
                     <!-- Title -->
                     <h1 class="font-weight-bold text-warning mb-3"><i class="fas fa-quote-left  pr-2"></i>  <%= titre %>  <i class="fas fa-quote-right pr-2"></i></h1>
                    <!-- Author -->
                    
                </div>
                <!--Grid column-->
                <!--Grid row-->
                      <div class="container-fluid ">
                        <div class="row">
                          <div class="col-sm-1">
                            <img  style="width: 50px; min-width: 50px; min-height: 50px; height: 50px;" class="rounded-circle z-depth-1 img-fluid" src=<%= image %>>
                          </div>
                          <div class="col">
                                <!--Content-->
                                <p class="lead">
                                  by
                                  <a href="/profile" class="text-danger"><%= socity %></a>
                                </p>       
                          </div>
                          <div class="col">
                            <button class="btn btn-primary"><i class="far fa-thumbs-up mr-1"></i> J'aime cet article</button>
                          </div>
                          <div class="col">
                            <button class="btn btn-primary"><i class="fas fa-share mr-1"></i> Suivre ce journaliste</button>
                          </div>
                        </div>
                      </div>
                  <!--Grid row-->
            </section>
            <!--Section: Content-->
        
        
          </div>


          
                                                                  
             


          
          <div class=" btn-elegant  ">
            <div class="row ">
              <div class="col-sm-5">
                <cite title="Source Title " class="blockquote-footer white-text">Posté le: <a class="font-weight-bold amber-text"><%= date %></a></cite>
              </div>
              <div class="col-sm">
                
                <cite title="Source Title" class="blockquote-footer white-text">                  
                  Report by: <a href="/profile" class="amber-text"><%= reporter %></a></cite>
                  
              </div>
              <div class="col-sm">
                <cite title="Source Title" class="blockquote-footer white-text"> Catégorie: <a href="/journal12" class="amber-text"><%= categorie %></a></cite>
                
              </div>
              <div class="col-sm">
                <cite title="Source Title" class="blockquote-footer white-text">Vues: <a href="#" class="font-weight-bold amber-text"><%=userCount %></a> </cite>
              </div>
            </div>
          </div>
          <!-- Date/Time -->
          <hr>

          <!-- Preview Image -->
          <div id="container_iframe">
            <iframe width="900" height="506" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen src=<%= video %> >
            </iframe>    
          </div>
    
          <hr></br>
         
          <!-- Post Content -->
        
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6" >
                  <p class="mb-4  lead text-muted"><%= resume %></p></br>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6">
                  <p class="mb-4  lead text-muted"><strong><i class="fas fa-quote-left "></i> <%= text_presentation %> <i class="fas fa-quote-right"></i></strong></p></br>
                </div>
              </div>
            </div>
           
        
          <!--FOOTER ARTICLE-->
          <blockquote class="blockquote bq-warning">
            <div class="container-fluid note note-warning">
              <div class="row">
                
                
                <div class="col-sm-1">
                  <img  style="width: 50px; min-width: 50px; min-height: 50px; height: 50px;" class="rounded-circle z-depth-1 img-fluid" src=<%= image %>>
                </div>

                  <div class="col-sm">
                    <cite title="Source Title" class="blockquote-footer">Report by: <a href="/profile" class="titre-article"><%= reporter %></a>  </cite>
                  </div>

                  <div class="col-sm">
                    <cite title="Source Title" class="blockquote-footer">TV chain: <a href="/profile" class="titre-article"><%= socity %></a>  </cite>
                  </div>

                  <div class="col-sm">
                    <cite title="Source Title" class="blockquote-footer">Posted: <a href="#" class="titre-article"> <%=date %></a></cite>
                  </div>
               
                
              </div>
            </div>
            <hr>
            <footer class=" ">
              <div class="container-fluid btn-elegant">
                <div class="row ">
                  
                  
                  <div class="col-sm">
                    <cite title="Source Title" class="blockquote-footer white-text">Continent: <a href="" class="titre-article amber-text"><%= continent %></a>  </cite>
                  </div>
                  <div class="col-sm">
                    <cite title="Source Title" class="blockquote-footer white-text">Pays: <a href="" class="titre-article amber-text"><%= pays%></a>  </cite>
                  </div>
                  <div class="col-sm">
                    <cite title="Source Title" class="blockquote-footer white-text">Région: <a href="#" class="titre-article amber-text"><%=region %></a></cite>
                 </div>
                 <div class="col-sm">
                  <cite title="Source Title" class="blockquote-footer white-text">Département: <a href="" class="titre-article amber-text"><%= departement %></a>  </cite>
                </div>
                <div class="col-sm">
                  <cite title="Source Title" class="blockquote-footer white-text">Ville: <a href="#" class="titre-article amber-text"><%=ville %></a></cite>
               </div>
                  
                </div>
              </div>
            </footer>
          </blockquote>
          <!--FOOTER ARTICLE-->


          <hr>

          <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Laisser un commentaire:</h5>
            <div class="card-body">
              <form action="/article_comments" method="POST">
                <div class="form-group">
                  <textarea class="form-control" rows="3" name="post_comments" required></textarea>
                </div>
                <button type="submit" class="btn btn-block blue-gradient">Submit</button>
              </form>
            </div>
          </div>


          <!-- Comments Form -->
          <div class="" style="height: auto; max-height: 100%; width: auto; min-width: 100%; overflow: ;">
             <div id="id_container_comments" class="" style="height: ; width: 100%; min-width: auto; "></br>
             </div> 
          </div>

        </div><!--fin div col-8-->




      
        
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4 " >

              
          
          <div class="card my-4 btn-elegant" style="height: 400px;">
            <h5 class="card-header ">Images de l'article</h5>
            <div class="card-body ">
                                        
                <!--Carousel Wrapper-->
                <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
                  <!--Indicators-->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-1z" data-slide-to="1" class=""></li>
                  </ol>
                  <!--/.Indicators-->
                  <!--Slides-->
                  <div class="carousel-inner" role="listbox">
                    
                    <!--first slide-->
                    <div class="carousel-item active"><a target="_blank" href = <%= image %> >
                      <img class="d-block w-100" width="400px" height="300px" src=<%= image %> ></a>
                    </div>
                    <!--/first slide-->
                    <!--Second slide-->
                    <div class="carousel-item "><a target="_blank" href="https://images.alphacoders.com/260/thumb-1920-260141.jpg">
                      <img class="d-block w-100" width="400px" height="300px" src="https://images.alphacoders.com/260/thumb-1920-260141.jpg" ></a>
                    </div>
                    <!--/Second slide-->
                    
                  </div>
                  <!--/.Slides-->
                  <!--Controls-->
                  <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                  <!--/.Controls-->
                </div>
                <!--/.Carousel Wrapper-->
             
            </div>
          </div>


            <!-- Categories Widget -->
            <div class="card my-4  btn-elegant"  >
              <h5 class="card-header">Voir les autres posts de: <a href="/profile"> <%= socity %></a></h5>
              <div class="card-body " style=" background-color: ;  min-height: 400px; width: 100%; min-width: auto; max-height: 600px; height: 100%; overflow: scroll;">
                  <div id="id_container_lasted_posts" class=""></div>
              </div>
            </div>
         
         




          <!-- Side Widget -->
          <div class="card my-4 btn-elegant">
            <h5 class="card-header">Mes réseaux sociaux</h5>
            <div class="card-body ">
                            
              <!-- Add font awesome icons -->
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-google"></a>
              <a href="#" class="fa fa-linkedin"></a>
              <a href="#" class="fa fa-youtube"></a>
              <a href="#" class="fa fa-instagram"></a>
              <a href="#" class="fa fa-pinterest"></a>
              <a href="#" class="fa fa-snapchat-ghost"></a>

              

            </div>
          </div>
          <!-- Side Widget -->





          
          <!-- tweeter
          <div class="card my-4">
            <h5 class="card-header">Tweeter here</h5>
            <div class="card-body">
                          
              <a class="twitter-timeline" href="https://twitter.com/Luckmoshy?ref_src=twsrc%5Etfw">Tweets by Luckmoshy</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
              <a href="https://twitter.com/Luckmoshy?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @Luckmoshy</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </div> -->

        </div>
          
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!--footer-->
<footer class="kilimanjaro_area ">
        <!-- Top Footer Area Start -->
        <div class="foo_top_header_one section_padding_100_70 ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="kilimanjaro_part">
                            <h5>About Us</h5>
                            <p>It includes rich features & contents. It's designed & developed based on One Page/ Multi-page Layout,blog themes,world press themes and blogspot. You can use any layout from any demo anywhere.</p>
                            <p>webblogoverflow is completely creative, clean & 100% responsive website. Put your business into next level with Webublogoverflow.</p>
                        </div>
                        
                    </div>
                    
                    <div class="col-6 col-md-6 col-lg-6">
                        <div class="kilimanjaro_part">
                            <h5>Latest News</h5>
                            <div class="kilimanjaro_blog_area">
                                <div class="kilimanjaro_thumb">
								<img class="img-fluid" src="https://3.bp.blogspot.com/--C1wpaf_S4M/W7V__10nRoI/AAAAAAAAK24/1NSfapuYSIY0f0wzXY9NgoH0FjQLT07YACKgBGAs/s1600/maxresdefault.jpg" alt="">

                                </div>
                                <a href="#">Your Blog Title Goes Here</a>
                                <p class="kilimanjaro_date">21 Jan 2018</p>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                            <div class="kilimanjaro_blog_area">
                                <div class="kilimanjaro_thumb">
								<img class="img-fluid" src="https://3.bp.blogspot.com/--C1wpaf_S4M/W7V__10nRoI/AAAAAAAAK24/1NSfapuYSIY0f0wzXY9NgoH0FjQLT07YACKgBGAs/s1600/maxresdefault.jpg" alt="">
                                </div>
                                <a href="#">Your Blog Title Goes Here</a>
                                <p class="kilimanjaro_date">21 Jan 2018</p>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                            <div class="kilimanjaro_blog_area">
                                <div class="kilimanjaro_thumb">
								<img class="img-fluid" src="https://3.bp.blogspot.com/--C1wpaf_S4M/W7V__10nRoI/AAAAAAAAK24/1NSfapuYSIY0f0wzXY9NgoH0FjQLT07YACKgBGAs/s1600/maxresdefault.jpg" alt="">
                                </div>
                                <a href="#">Your Blog Title Goes Here</a>
                                <p class="kilimanjaro_date">21 Jan 2018</p>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="kilimanjaro_part">
                            <h5>Quick Contact</h5>
                            <div class="kilimanjaro_single_contact_info">
                                <h5>Phone:</h5>
                                <p>+255 789 54 50 40 <br> +2255 766 90 94 00</p>
                            </div>
                            <div class="kilimanjaro_single_contact_info">
                                <h5>Email:</h5>
                                <p>support@webblogoverflow.com <br> luckmoshy@gmail.com</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom Area Start -->
        <div class=" kilimanjaro_bottom_header_one section_padding_50 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>© All Rights Reserved by <a href="#">Webublogoverflow.blogspot -(with all love)<i class="fa fa-love"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>	

</main>
<!--Main layout-->





<!--afficher ALL-->
<script>

  function lasted_posts(){
            document.getElementById("id_container_lasted_posts").innerHTML = "";
  
  //LE TABLEAU JS EST PASSé DANS UNE FONCTION
  function afficherLastPosts(tableauDePosts) {
      tableauDePosts.forEach(function (viewPost) {
  
  
          

               //CONTAINER VIEW POST
              var container_view_post= document.createElement('div');
              container_view_post.setAttribute('class', 'row');
              container_view_post.setAttribute('id', 'container_view_post');
              id_container_lasted_posts.appendChild(container_view_post);



              //DIV 
              var div_col_lg_6 = document.createElement('div');
              div_col_lg_6.setAttribute('class', '   waves-effect waves-light ');
              div_col_lg_6.setAttribute('style', 'background-color:');
              container_view_post.appendChild(div_col_lg_6);

              var div_class_card = document.createElement('div');
              div_class_card.setAttribute('class', ' card ');
              div_class_card.setAttribute('style', 'min-width:100%; background-color:black');
              div_col_lg_6.appendChild(div_class_card);

              var div_card_body_m1 = document.createElement('div');
              div_card_body_m1.setAttribute('class', 'card-body ');
              div_card_body_m1.setAttribute('style', 'background-color:;');
              div_class_card.appendChild(div_card_body_m1);

              var div_row_mb_4 = document.createElement('div');
              div_row_mb_4.setAttribute('class', 'row ');
              div_card_body_m1.appendChild(div_row_mb_4);

              var div_col_lg_4 = document.createElement('div');
              div_col_lg_4.setAttribute('class', 'col-sm-12 col-lg-12 col-md-12   align-items-center');
              div_row_mb_4.appendChild(div_col_lg_4);

              var div_avatar = document.createElement('div');
              div_avatar.setAttribute('class','avatar w-100 btn-elegant d-flex justify-content-center align-items-center');
              div_col_lg_4.appendChild(div_avatar);

              var img_avatar = document.createElement('img');
              img_avatar.setAttribute('class', 'img-fluid z-depth-1');
              img_avatar.setAttribute('src', viewPost.url_img);
              div_avatar.appendChild(img_avatar);

              var div_col_lg_8 = document.createElement('div');
              div_col_lg_8.setAttribute('class', 'col-md-12 col-sm-12 col-lg-12 text-muted d-flex flex-column justify-content-end pt-2');
              div_row_mb_4.appendChild(div_col_lg_8);
              

            var p_mb_1_1 = document.createElement('p');
            p_mb_1_1.setAttribute('class', 'mb-1');
            div_col_lg_8.appendChild(p_mb_1_1);

            


            var balise_strong_into_p_mb_1_1 = document.createElement('strong');
            balise_strong_into_p_mb_1_1.setAttribute( 'class','text-warning');
            p_mb_1_1.appendChild(balise_strong_into_p_mb_1_1);

            var txt_balise_strong = document.createTextNode(viewPost.titre_article);
            balise_strong_into_p_mb_1_1.appendChild(txt_balise_strong);

           
            var balise_hr = document.createElement('hr');
            div_card_body_m1.appendChild(balise_hr);

          

          var balise_br_into_row = document.createElement('br');
          div_col_lg_6.appendChild(balise_br_into_row);


  
          var button_link_post = document.createElement('a');
          button_link_post.setAttribute('id', 'id_button_link_article');
          button_link_post.setAttribute('class', 'btn btn-block blue-gradient text-center');
          button_link_post.setAttribute('type', 'button');
          button_link_post.setAttribute('href', viewPost.url_post);
          button_link_post.setAttribute('target', '_blank');
          div_card_body_m1.appendChild(button_link_post);
          var txt_button_link_post = document.createTextNode('Voir les réactions');
          button_link_post.appendChild(txt_button_link_post);

          //FOOTER
          var balise_footer = document.createElement('footer');
          div_card_body_m1.appendChild(balise_footer);

          //DIV PARENT
          var div_class_rounded_bottom = document.createElement('div');
          div_class_rounded_bottom.setAttribute('class', 'rounded-bottom btn-elegant lighten-3 text-center pt-3');
          balise_footer.appendChild(div_class_rounded_bottom);
          //UL DANS DIV PARENT
          var ul_class_list_unstyled = document.createElement('ul');
           ul_class_list_unstyled.setAttribute('class', 'list-unstyled list-inline font-small');
          div_class_rounded_bottom.appendChild(ul_class_list_unstyled);
          //LI DANS UL
          var li_class_list_inline_item = document.createElement('li');
          li_class_list_inline_item.setAttribute('class', 'list-inline-item pr-2 white-text');
          ul_class_list_unstyled.appendChild(li_class_list_inline_item);

          //LI DANS LI
          var li_class_far_fa_clock = document.createElement('li');
          li_class_far_fa_clock.setAttribute('class', 'far fa-clock pr-1');
          li_class_list_inline_item.appendChild(li_class_far_fa_clock);

          //DATE INTO LI_LIST_INLINE
          var text_date = document.createTextNode('05/07/20204');
          li_class_list_inline_item.appendChild(text_date);

          //LI CLASS LIST INLINE ITEM 2 INTO UL
          var li_class_list_inline_item_2 = document.createElement('li');
          li_class_list_inline_item_2.setAttribute('class', 'list-inline-item pr-2');
          ul_class_list_unstyled.appendChild(li_class_list_inline_item_2);

          //A DANS LI LISTE INLINE ITEM 2
          var a_class_white_text = document.createElement('a');
          a_class_white_text.setAttribute('class', 'white-text');
          li_class_list_inline_item_2.appendChild(a_class_white_text);

          //I DANS A
          var i_class_far_fa_comments =document.createElement('i');
          i_class_far_fa_comments.setAttribute('class', 'fas fa-eye');
          a_class_white_text.appendChild(i_class_far_fa_comments);

          //TEXT DANS A
          var txt_link = document.createTextNode(" " +viewPost.nbr_vues);
          a_class_white_text.appendChild(txt_link);

          //LI DANS UL
          var li_class_list_inline_item_3 = document.createElement('li');
          li_class_list_inline_item_3.setAttribute('class', 'list-inline-item pr-2');
          ul_class_list_unstyled.appendChild(li_class_list_inline_item_3);

          //A DANS LI 3
          var a_class_white_text_2 = document.createElement('a');
          a_class_white_text_2.setAttribute('class', 'white-text');
          li_class_list_inline_item_3.appendChild( a_class_white_text_2);

          //I DANS A 2
          var i_class_fab_fa_facebook = document.createElement('li');
          i_class_fab_fa_facebook.setAttribute('class', 'fas fa-camera pr-1');
          a_class_white_text_2.appendChild(i_class_fab_fa_facebook);

          //TEXT DANS A 2
          var text_into_a_2 = document.createTextNode('2');
          a_class_white_text_2.appendChild(text_into_a_2);

          //LI DANS UL
          var li_class_list_inline_item_4 = document.createElement('li');
          li_class_list_inline_item_4.setAttribute('class', 'list-inline-item');
          ul_class_list_unstyled.appendChild(li_class_list_inline_item_4);

          //A 3 INTO LI 4
          var a_class_white_text_3 = document.createElement('a');
          a_class_white_text_3.setAttribute('class', 'white-text');
          li_class_list_inline_item_4.appendChild(a_class_white_text_3);

          //LI 4 INTO A 3
          var li_class_list_inline_item_5 = document.createElement('li');
          li_class_list_inline_item_5.setAttribute('class', 'fas fa-camera pr-1');
          a_class_white_text_3.appendChild(li_class_list_inline_item_5);

          //TEXT INTO A 
          var text_into_a_3 = document.createTextNode('5');
          a_class_white_text_3.appendChild(text_into_a_3);


          

    




      })};
  
      
      
      $.get("http://localhost:8080/total_user_posts", function (response, error) {
         
          console.log(error);
          console.log(response);
       afficherLastPosts(response);
  });
  }
  
    lasted_posts();
  
  
  </script>
  
	

<!--afficher ALL-->
<script>

  function user_post_img(){
  
  //LE TABLEAU JS EST PASSé DANS UNE FONCTION
  function afficherCarousel(tableauImages) {
      tableauImages.forEach(function (viewPost) {

        var div_class_carousel_item_1 = document.createElement('div');
        div_class_carousel_item_1.setAttribute('class', 'carousel-item active');
        id_container_user_img.appendChild(div_class_carousel_item_1);

        var img_1 = document.createElement('img');
        img_1.setAttribute('class', 'd-block w-100');
        img_1.setAttribute('src', viewPost.url_img);
        img_1.setAttribute('alt', 'first-slide');
        div_class_carousel_item_1.appendChild(img_1);


        var div_class_carousel_item_2 = document.createElement('div');
        div_class_carousel_item_2.setAttribute('class', 'carousel-item');
        id_container_user_img.appendChild(div_class_carousel_item_2);

        var img_2 = document.createElement('img');
        img_2.setAttribute('class', 'd-block w-100');
        img_2.setAttribute('src', 'https://ak.picdn.net/shutterstock/videos/9154238/thumb/1.jpg');
        img_2.setAttribute('alt', 'second-slide');
        div_class_carousel_item_2.appendChild(img_2);


  
  

         


  
      })};
  
      
      
      $.get("http://localhost:8080/total_user_posts_img", function (response, error) {
         
          console.log(error);
          console.log(response);
       afficherCarousel(response);
  });
  }
  
    user_post_img();
  
  
  </script>
        






<!--afficher COMMENTS-->
<script>

  function user_post_comments(){
  
  //LE TABLEAU JS EST PASSé DANS UNE FONCTION
  function afficherComments(tableauComments) {
      tableauComments.forEach(function (comments) {

       

        var div_class_media = document.createElement('div');
        div_class_media.setAttribute('class' , '');
        id_container_comments.appendChild(div_class_media);

        var section_class_p_md = document.createElement('section');
        section_class_p_md.setAttribute('class', ' text-center text-lg-left light z-depth-1');
        section_class_p_md.setAttribute('style', '');
        div_class_media.appendChild(section_class_p_md);

        var div_class_row_d_flex = document.createElement('div');
        div_class_row_d_flex.setAttribute('class', 'row d-flex justify-content-center');
        section_class_p_md.appendChild(div_class_row_d_flex);

        var div_class_col_md_10 = document.createElement('div');
        div_class_col_md_10.setAttribute('class', 'col-md-12');
        div_class_row_d_flex.appendChild(div_class_col_md_10);

        var div_class_card_comment = document.createElement('div');
        div_class_card_comment.setAttribute('class', 'card');
        div_class_col_md_10.appendChild(div_class_card_comment);

        var div_class_card_body_comment = document.createElement('div');
        div_class_card_body_comment.setAttribute('class', 'card-body m-3');
        div_class_card_comment.appendChild(div_class_card_body_comment);

        var div_class_row_comment = document.createElement('div');
        div_class_row_comment.setAttribute('class', 'row');
        div_class_card_body_comment.appendChild(div_class_row_comment);

        var div_class_col_lg_4 = document.createElement('div');
        div_class_col_lg_4.setAttribute('class', 'col-lg-4 d-flex mb-2 align-items-center');
        div_class_row_comment.appendChild(div_class_col_lg_4);


        var div_class_avatar_mx_4 = document.createElement('div');
        div_class_avatar_mx_4.setAttribute('class', 'avatar mx-4 w-100 white d-flex justify-content-center align-items-center');
        div_class_col_lg_4.appendChild(div_class_avatar_mx_4);

        var img_comment_user = document.createElement('img');
        img_comment_user.setAttribute('src', 'images/anonymous_mask.png');
        img_comment_user.setAttribute('class', 'rounded-circle img-fluid z-depth-1');
        div_class_avatar_mx_4.appendChild(img_comment_user);

        var div_class_col_lg_8 = document.createElement('div');
        div_class_col_lg_8.setAttribute('class', 'col-lg-8');
        div_class_row_comment.appendChild(div_class_col_lg_8);

        var div_class_text_muted = document.createElement('p');
        div_class_text_muted.setAttribute('class', 'font-weight-bold lead mb-2');
        div_class_col_lg_8.appendChild(div_class_text_muted);
        var text_div_class_text_muted = document.createTextNode("Un anonyme à dit: ");
        div_class_text_muted.appendChild(text_div_class_text_muted);

        var p_comments_user_2 = document.createElement('p');
        p_comments_user_2.setAttribute('class', 'text-muted font-weight-light mb-4');
        div_class_col_lg_8.appendChild(p_comments_user_2);
        var balise_strong_into_p_comments_user_2 = document.createElement('strong');
        p_comments_user_2.appendChild(balise_strong_into_p_comments_user_2);
        var text_into_strong = document.createTextNode(comments.comments);
        balise_strong_into_p_comments_user_2.appendChild(text_into_strong);

        balise_hr_into_col_lg_8 = document.createElement('hr');
        div_class_col_lg_8.appendChild(balise_hr_into_col_lg_8);

        var p_comments_user_3 = document.createElement('p');
        p_comments_user_3.setAttribute('class', 'font-weight-bold text-muted mb-0');
        div_class_col_lg_8.appendChild(p_comments_user_3);
        var text_into_class_p_comments_user_3 = document.createTextNode("Posté le: " + comments.date_comment);
        p_comments_user_3.appendChild(text_into_class_p_comments_user_3);









        


  
      })};
  
      
      
      $.get("/call_article_comments", function (response, error) {
         
          console.log(error);
          console.log(response);
       afficherComments(response);
  });
  }
  
    user_post_comments();
  
  
  </script>
        



<!--LIEN DE BASE MDB-->

   <!-- JQuery -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <!-- Bootstrap tooltips -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
   <!-- Bootstrap core JavaScript -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
   <!-- MDB core JavaScript -->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
<!--LIEN DE BASE MDB-->



<!--JQUERRY SOCIAL SHARE-->

   <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
   <script type="text/javascript" src="js/jquery.floating-social-share.min.js"></script>
   <script>
     $("body").floatingSocialShare({
       buttons: [
         "facebook", "linkedin", "pinterest", "reddit", 
         "telegram", "tumblr", "twitter", "viber", "vk", "whatsapp"
       ],
       text: "share with: ",
       url: "https://github.com/ozdemirburak/jquery-floating-social-share"
     });
   </script>
<!--JQUERRY SOCIAL SHARE-->








</body>
</html>